@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>StudentRecord</h1>
    <p class="lead">Int this application we mantain student record like name, father name, class, etc.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Student Information</h2>
        <p>
            We mantain student name, father name, class etc.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Student Attandance</h2>
        <p>WE keep in this application student attandance.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Student Result</h2>
        <p>In this application we mantian student result.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>